<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.etiketkereta">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ETiketKereta">

        <!-- Login sebagai halaman awal -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"> <!-- wajib untuk Android 12+ -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Halaman registrasi -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"/>

        <!-- Halaman utama (isi tab Home, Pemesanan, Jadwal, Profile) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
    </application>

</manifest>
